#navbar {
  background-color: #1e2a31;
  margin-bottom: 10px
}
#mainContainer{
  display: flex;
  #playlists {
    width: 30%;
    max-width: 325px;
    max-height: calc(100vh - 70px);
    overflow-y: auto;
  }
  #playlist {
    width: 100%;  
    max-height: calc(100vh - 70px);
    overflow-y: auto;
  }
}